.login-wrapper {
    height: inherit;
    .question {
        width: 300px;
        background-color: #fff;
        height: auto;
        margin-top: 64px;
        max-height: 580px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        border-radius: 2px;
        border-radius: 5px;
        margin: auto;
        transition: none;
        margin-top: 100px;
        position: absolute;
        right: 20%;
        .login-name {
            width: 80%;
            display: block;
            position: relative;
            padding: 20px;
            padding-top: 40px;
        }
        .form-wrapper {
            width: 100%;
            margin: auto;
            height: auto;
            margin-top: 30px;
            padding-bottom: 50px;
        }
    }
    .button-div {
        margin: auto;
        width: 80%;
    }
    paper-input-decorator {
        width: 80%;
        margin: auto;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    paper-fab {
        position: absolute;
        right: -40px;
        top: 20px;
        background-color: #ED2553;
        transition: all ease-in 0.3s;
    }
    .register {
        display: none;
    }
    paper-input-decorator::shadow .unfocused-underline {
        background-color: rgba(117, 117, 117, 0.49)
    }
}
