.login-wrapper {
    height: inherit;
    .form-div {
        width: 60%;
        background-color: #fff;
        height: auto;
        margin: auto;
        margin-top: 64px;
        max-height: 580px;
        max-width: 512px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        border-radius: 2px;
        min-width: 300px;
        max-width: 500px;
        border-radius: 5px;
        .form-wrapper {
            width: 80%;
            margin: auto;
            margin-bottom: 10px;
        }
    }
    .button-div {
        margin: auto;
        width: 80%;
    }
    paper-input-decorator {
        width: 80%;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    paper-fab[showing] {
        position: absolute;
        right: 20px;
        bottom: -20px;
        -webkit-transform: none;
        transform: none;
    }
    paper-fab {
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background-color: rgb(74, 181, 74);
        color: white;
    }
}
