.profile-wrapper {
    .githubUserImage {
        height: 60px;
        width: 60px;
    }
    #githubCard {
        padding: 0px;
        margin-top: 20px;
        .githubName {
            margin-left: 20px;
        }
        .githubCompany {
            font-size: small;
        }
        .userList {
            padding: 8px 8px;
            margin-top: 0px;
        }
    }
    .subTitleLabelText {
        color: #757575;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        max-width: 100%;
    }
    .subTitleLabel {
        font-size: 0.75em;
        background: transparent;
        white-space: nowrap;
    }
    .tagLabel {
        background-color: rgba(234, 234, 234, 0.67);
        padding: 0px 6px;
        margin: 5px 5px;
        display: inline-block;
    }
    paper-radio-button::shadow #ink[checked] {
        color: rgba(0, 22, 206, 0.64);
    }
    paper-radio-button::shadow #onRadio {
        background-color: rgba(0, 22, 206, 0.64);
    }
    paper-radio-button[checked]::shadow #offRadio {
        border-color: rgba(0, 22, 206, 0.64);
    }
    #mailId {
        margin: 0px;
    }
    #skillInput {
        margin: 0px;
        margin-top: 0px;
        font-size: medium;
        max-width: 180px;
    }
    #addSkill {
        background-color: rgba(33, 197, 38, 0.64);
        font-size: 0.8em;
    }
    #userimg {
        height: 40px;
        border-radius: 50%;
        width: 40px;
    }
    #uploadImg {}
    .core-toolbar-users {
        background-color: transparent;
        color: #fff;
    }
    overflow: auto;
    height: inherit;
    paper-fab {
        background-color: #FF4081;
        color: white;
        position: absolute;
        top: -20px;
        right: 50px;
    }
    paper-button {
        background-color: rgba(0, 22, 206, 0.64);
        color: white;
        margin-top: 10px;
    }
    .core-toolbar-custom {
        paper-button {
            font-size: medium;
            background-color: transparent;
        }
    }
    paper-button::shadow .button-content {
        padding: 5px 5px;
    }
    .expertise-list {
        margin-top: 30px;
    }
    .expertise-list::shadow .button-content {
        display: block
    }
    .question {
        width: 50%;
        min-width: 300px;
        max-width: 400px;
        height: auto;
        padding : 0px;
        padding-bottom: 20px;
        transition: none;
        margin: auto;
        margin-top: 100px;
        background-color: #fff;
    }
    paper-input-decorator {
        width: 100%;
    }
    paper-input-decorator::shadow .unfocused-underline {
        /* line color when the input is focused */
        background-color: transparent;
    }
    .answers {
        width: 90%;
        max-width: 700px;
        padding-bottom: 100px;
        height: auto;
        margin: auto;
        margin-top: 100px;
        top: -500px;
        background-color: #fff;
    }
    .userList {
        margin-top: 10px;
        background-color: white;
        height: auto;
        padding: 8px 24px;
        box-sizing: border-box;
        position: relative;
        font-size: 18px;
        .user-list-name {
            padding-left: 48px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 16px;
            display: inline-block;
        }
        .check-icon {
            height: 24px;
            width: 24px;
            color: green;
            border: none;
        }
    }
    .user-list-div {
        padding: 0px
    }
    paper-item::shadow .button-content {
        padding: 0px;
    }
    .miniToolbar {
        background-color: #3F51B5;
    }
}
