.question-wrapper {
    overflow: overlay;
    height: inherit;
    paper-fab {
        background-color: #ED2553;
        color: white;
        position: absolute;
        top: -20px;
        right: 50px;
        transition : all ease0in 0.3s;
    }
    .post-question {
        margin-top: 0px;
        margin-left: 0px;
        margin: auto;
        width: 85%;
        display: none;
    }
    .post-span {
        width: 100%;
        paper-input {
            width: 100%;
        }
    }
    paper-radio-button {
        display: inlineblock;
    }
    .unfocused-underline {
        background-color: rgba(202, 187, 187, 0.53)
    }
    paper-item {
        margin-left: 20px;
        margin-top: 20px;
    }
    .question {
        width: 90%;
        max-width: 700px;
        padding-bottom: 30px;
        padding-top: 30px;
        border-radius: 5px;
        height: auto;
        transition : none;
        margin: auto;
        margin-top: 50px;
        
        background-color: #fff;
    }
    paper-input-decorator::shadow .unfocused-underline {
        /* line color when the input is focused */
        background-color: transparent;
    }
    paper-input-decorator {
        margin-top: 0px;
    }
    .answers {
        width: 90%;
        max-width: 700px;
        padding-bottom: 100px;
        padding-top: 30px;
        height: auto;
        margin: auto;
        margin-top: 100px;
        top: -500px;
        background-color: #fff;
    }
    .question-show {
        margin-left: 20px;
    }
    .question-hide {
        margin-left: 20px;
        color: darkgray;
    }
}
