.user-wrapper {
    .core-toolbar-users {
        background-color: transparent;
        color: #3F51B5;
    }
    overflow: auto;
    height: inherit;
    paper-fab {
        background-color: #FF4081;
        color: white;
        position: absolute;
        top: -20px;
        right: 50px;
    }
    .question {
        width: 60%;
        transition: none;
        min-width: 400px;
        max-width: 700px;
        height: auto;
        margin: auto;
        padding : 10px;
        margin-top: 100px;
        background-color: #fff;
        .user-list:hover {
            background-color: rgb(234, 234, 234);
        }
    }
    paper-input-decorator::shadow .unfocused-underline {
        /* line color when the input is focused */
        background-color: transparent;
    }
    .answers {
        width: 90%;
        max-width: 700px;
        padding-bottom: 100px;
        height: auto;
        margin: auto;
        margin-top: 100px;
        top: -500px;
        background-color: #fff;
    }
    .user-list {
        margin-top: 10px;
        background-color: white;
        height: 56px;
        padding: 8px 24px;
        box-sizing: border-box;
        position: relative;
        font-size: 18px;
        .user-list-name {
            padding-left: 48px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 16px;
            display: inline-block;
        }
        core-icon {
            height: 36px;
            width: 36px;
            border-radius: 50%;
            overflow: hidden;
            background-color: white;
        }
        .check-icon {
            height: 24px;
            width: 24px;
            color: green;
            border: none;
        }
    }
    .user-list-div {
        padding: 0px
    }
    paper-item::shadow .button-content {
        padding: 0px;
    }
}
