<div class="expertise-wrapper">
    <label class="tag-label">#{{model.skill}}</label>
    {{textarea value=postInputText }}
    <paper-button raised {{action 'createPost'}} >{{postInputText}}</paper-button>
</div>
