<div class="expertise-wrapper">
    <paper-button raised noink>#{{model.skill}}</paper-button>
    {{textarea value=postInputText }}
    <paper-button raised {{action 'createPost'}} >{{postInputText}}</paper-button>
</div>
