<div class="login-wrapper">
    {{#view 'slide-in'}}
        <div class="login-name"><span>LOGIN</span>
            <paper-fab icon="add" class="paper-fab-custom" {{action 'fab'}}></paper-fab>
        </div>
        <div layout vertical class="form-wrapper">
            <paper-input-decorator label="Username" floatingLabel="true" error="wrong credentials">
                {{input type="text" value=username id="username"}}
            </paper-input-decorator>
            <paper-input-decorator label="Password" floatingLabel="true" error="wrong credentials">
                {{input type="password" value=password id="password" action="login"}}
            </paper-input-decorator>
            {{#view 'paper-shadow' label="Email" floatingLabel="true" pattern='(\w)@triconinfotech.com' style="display:none" }}
                {{input type="email" value=email id="email"}}
            {{/view}}
        </div>
    {{/view}}
    
</div>

<!-- Information skills,profile picture -->