<paper-button {{action 'runCloudCode'}} raised> Initialize word cloud </paper-button>
<paper-button {{action 'animatedGenderplot'}} raised> render gender cloud </paper-button>

<div id="pieChart"><svg></svg></div>